<label for="name">Name of Who Comments:</label>
<input id="name" type="text" name="comment[name]">

<br/>

<label for="content">Comment Content:</label>
<textarea id="content" name="comment[content]"></textarea>

<br />

<button type="submit" class="btn">Save Comment</button>

<p>Note: Cannot leave "name" of "comment" item as empty.</p>
