<!doctype html>
<html lang="en">
<head>
  <link href="/styles.css" rel="stylesheet"  type="text/css">
</head>
<body>
<header>
  <img style='height: 100%; width: 100%; object-fit: contain' src="/images/backschool.jpg" alt="back to school image">
  <h1>Student Informaton System</h1>
</header>
<%= erb :nav %>
<%= yield %>
</body>
</html>

