<h1><%= @comment.content %></h1>
<p> Name of Who Commented: <%= @comment.name %></p>
<p> Comment Created at: <%= @comment.created_at.strftime("%A, %d. %B %Y %I:%M%p") %></p>
<p> <a href="/comments">back to comments index</a></p>

